
@{
    ViewData["Title"] = "Test";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div>
            <a asp-area="user" asp-controller="userhome" asp-action="test">Test User Area</a>
        </div>
        <div>
            <a asp-area="admin" asp-controller="adminhome" asp-action="test">Test Admin Area</a>
        </div>
        <p>
            Lorem 
        </p>
    </div>

