<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
        <SiteUrlToLaunchAfterPublish>http://stockmusicmasters.com</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <ProjectGuid>c804df78-ce57-475b-bad4-b381a84e2e77</ProjectGuid>
        <MSDeployServiceURL>MSDEPLOY_SERVICE_URL</MSDeployServiceURL>
        <DeployIisAppPath>stockmusicmasters.com</DeployIisAppPath>
        <RemoteSitePhysicalPath />
        <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <UserName>USERNAME</UserName>
        <Password>PASSWORD</Password>
        <_SavePWD>True</_SavePWD>
        <TargetFramework>netcoreapp3.1</TargetFramework>
        <SelfContained>false</SelfContained>
        <EFMigrationsAdditionalArgs>
            --project StockMusicMasters/ --verbose
        </EFMigrationsAdditionalArgs>
        <!-- <AuthType>NTLM</AuthType> -->
    </PropertyGroup>
    <ItemGroup>
        <DestinationConnectionStrings Include="Server">
            <Value>DESTINATION_CONNECTION_STRINGS</Value>
        </DestinationConnectionStrings>
    </ItemGroup>
    <ItemGroup>
        <EFMigrations Include="StockMusicMasters.Data.ApplicationDbContext">
            <Value>EF_MIGRATIONS</Value>
        </EFMigrations>
    </ItemGroup>
</Project>
