<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageAdminNav.IndexNavClass(ViewContext) px-3 py-2" href="/admin">Home</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminNav.ManageSongsNavClass(ViewContext) px-3 py-2" asp-area="admin" asp-controller="AdminHome" asp-action="ManageSongs">@ManageAdminNav.ManageSongs</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminNav.AddSongNavClass(ViewContext) px-3 py-2" asp-area="admin" asp-controller="AdminHome" asp-action="AddSong">Add Song</a></li>
</ul>
