
@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = ManageAdminNav.Index;
}

<h1 class="jumbotron text-center py-4 font-weight-bold">Stock Music Masters Stats</h1>
<div class="row">
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Total Tracks By Genre</h4>
            </div>
            <div class="card-body">
                <canvas id="tracks-by-genre"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Total Tracks By Instrument</h4>
            </div>
            <div class="card-body">
                <canvas id="tracks-by-instrument"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Total Tracks By Mood</h4>
            </div>
            <div class="card-body">
                <canvas id="tracks-by-mood"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ChartJS" />
    <script src="/js/adminstats.js"></script>
}

